img
{
    max-width:200px;
    max-height:200px;
    border: 1px solid black;
}
.images-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(9, 1fr); */
    gap: 30px;
    /* overflow: scroll; */
    direction: ltr;
    /* overflow:; */
}
/* .container {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    /* position: absolute; */
    /* top:10%; */
    /* gap: 30px; */ */
    .card 
    {
        border-radius: 14px;
        border: 1px solid #cdcdcd;
        width: 200px;
        overflow: hidden;

    }

p 
{
    text-align: center;
    margin:0;
}
.name 
{
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
}
h3
{
    color: yellow;
}