<div style="position: absolute; top:20%">
    <h3 >Latest</h3>
    <div class="images-container">
        <div class="card" *ngFor="let post of posts?.results">
            <a [routerLink]="['movie',post?.id]" style="text-decoration: none;"   >
            <!-- <a href="{{movies_paths + post?.id + '?' + 'api_key=' + API_key}}" style=" text-decoration: none;">
                 -->
                <img 
                src="{{image_paths + post?.poster_path}}"
                >
                <p class="name"> {{ post?.title }}</p>
            </a>
        </div>
    </div>
</div>

