@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
img
{
    max-width:200px;
    max-height:200px;
    border: 1px solid black;
}
.backclass
{
    position: absolute; 
    top:20%;
}
.movie-data
{
    color: violet;
}
.images-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    direction: ltr;
}
p 
{
    text-align: center;
    margin:0;
}
.name 
{
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
}
h3
{
    color: yellow;
}