<div>
  <div class="coreModule-containers coreModule-whole">
    <div class="right coreModule-col-6 m-auto">
      <div class="inside_right">
        <h2>Login Account</h2>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-group">
            <input
              class="form-control m-auto"
              placeholder="Email"
              type="email"
              ngModel
              name="userEmail"
              required=""
              email
              #emailForm="ngModel">
              <span class="help-block" *ngIf="!emailForm.valid && emailForm.touched" style="color:red">
                Please enter a valid email!
              </span>
          </div>
          <br>
          <div class="form-group">
            <input
              class="form-control m-auto"
              placeholder="Password"
              type="password"
              ngModel
              name="password"
              required="">
          </div>
          <br>
          <button type="button" class="btn btn-warning" type="submit" [disabled]="!form.valid">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>  