<mat-progress-bar class="movies-screen-mat-progress-bar" mode="indeterminate" *ngIf="!hide"> </mat-progress-bar>
<div class="box-class">
    <h3 style="color: yellow;margin-left: 3px;">Latest</h3>
    <div class="images-container">
        <div style="width: 140px;"  *ngFor="let post of posts?.results">
            <a [routerLink]="['/movies-screen/movie',post?.id]" style="text-decoration: none;"   >
                <img 
                src="{{getImageUrl(post?.poster_path)}}"
                class="im">
                <p class="name"> {{ post?.title }}</p>
            </a>
        </div>
    </div>
</div>
